header{
    width:100%; 
    
	overflow:hidden; 
	background:#015454;
	margin-bottom:20px;
}

.dispositivo {
	width:80%;
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}

div.alexa{

	color:#f2f2f2;
	font-size:100px;
	line-height:200px;
	float:left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#0ec0b4;
	border-radius:50px;
}


.descripcion{
    border: 20px;
    margin: 20px 30px;
    border-color:#f2f2f2;
    color: #f2f2f2;
}
body{

    background-color:rgb(57, 54, 54);
   
}

footer div {

    overflow:hidden; 
    margin-top:50px;
    width:100%;
    height:200px;
    background-color:#015454;
}


.fotos{
   
display:block;
margin:auto;
width: 350px;
height: 350px;
}
footer nav a{
    display:inline-block;
    padding:10px 30px;
    color:#f2f2f2;
    line-height:normal;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

footer nav a:hover{
    background-color: #56c9c9;
    border-radius:110px 110px 110px 110px;
    
}

footer nav{
    padding:10px 50px;
	font-size:50px;
	line-height:200px;
	float:left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}







